/**!
 * WordPress Gutenberg Example Blocks
 * CSS for admin and front-end hooks:
 *  - `wp_enqueue_scripts`
 *  - `enqueue_block_editor_assets`
 */

.my-block {
  background: #fff;
  padding: 20px;
}

.my-block > * {
  font-family: sans-serif !important;
}

.my-block > *:first-child {
  margin-top: 0 !important;
}

.my-block > *:last-child {
  margin-bottom: 0 !important;
}
